footer {
	//min-height: 20vh;
	padding-top: 20px;
	padding-bottom: 10px;
	
	line-height: 1.2;

	background-image: url("/wp-content/themes/Jenny-Lind/assets/img/swirls/cedar-swirl-up.svg");
	background-position: center bottom -25px;
	background-size: 250px;
	background-repeat: no-repeat;
}



