@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather:400,700');
@font-face {
	font-family: 'Zebrawood';
	src        : url("assets/fonts/Zebrawood-Fill.eot");
	src        : url("assets/fonts/Zebrawood-Fill.eot?#iefix") format('embedded-opentype'), url("assets/fonts/Zebrawood-Fill.woff2") format('woff2'), url("assets/fonts/Zebrawood-Fill.woff") format('woff'), url("assets/fonts/Zebrawood-Fill.ttf") format('truetype'), url("assets/fonts/Zebrawood-Fill.svg#Zebrawood-Fill") format('svg');
	font-weight: normal;
	font-style : normal;
}

@font-face {
	font-family: 'Pisang';
	src        : url("assets/fonts/DKPisang.eot");
	src        : url("assets/fonts/DKPisang.eot?#iefix") format('embedded-opentype'), url("assets/fonts/DKPisang.woff2") format('woff2'), url("assets/fonts/DKPisang.woff") format('woff'), url("assets/fonts/DKPisang.ttf") format('truetype'), url("assets/fonts/DKPisang.svg#DKPisang") format('svg');
	font-weight: normal;
	font-style : normal;
}


body {
	font-family     : 'Merriweather', serif;
	background-color: $off-white;
	color           : $cod-grey;
	font-size       : 16px;
	line-height     : 2;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Lato', sans-serif;
	color      : $killarney;
	font-weight: bolder;
	margin     : 10px 0;
font-variant: small-caps;


}
h1 {
	margin-bottom: 20px;text-align: center;

}
h2 {
	color: $prairie;
	font-size: "Lato";
	color:$cedar
}
h3 {}
h4 {}
p {
	margin: 20px 0;
}



a:visited,
a:link {
	
}

a:hover {
	
}
